NODE_ENV=development
PORT=5000
LOG_LEVEL=debug

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=supportdesk_pro
POSTGRES_USER=supportdesk_user
POSTGRES_PASSWORD=supportdesk_password

REDIS_URL=redis://localhost:6379

MONGO_URL=mongodb://supportdesk_user:supportdesk_password@localhost:27017/supportdesk_pro_activity?authSource=admin
MONGO_DB_NAME=supportdesk_pro_activity